@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@font-face {
    font-family: "Future";
    src: url("/fonts/This Is The Future.ttf");
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	background-color: black;
	color:white;
	overflow-x: hidden;
	    font-family: 'Space Mono', monospace;

}
p{
	font-family: 'Space Mono', monospace;
}
h1, h2, h3, h4, h5, h6{
	    font-family: 'Future', monospace;
		font-weight: 700;
		color:rgb(255, 255, 255);
		letter-spacing:2px;
		text-shadow: 0px 2px #555a, 0px 2px 10px rgba(0,0,0,0.2);
}
a {
	color: inherit;
	text-decoration: none;
	display: block;
    width: max-content;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	border:1x solid rgb(170, 170, 170);
	border-radius:0.25rem ;
	padding:0.5rem 1rem;
	margin:unset;
	color: white;
	background-color: black;
	display: block;
	letter-spacing:2px;
	font-weight:normal;
	transition:background-color 200ms, color 200ms ease;
}
button:hover {
	border-radius:0.25rem ;
	padding:0.5rem 1rem;
	color: black;
	background-color: white;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
